.node { 
   
    background-color: rgb(3, 74, 95);
    border-radius: 11px;
    text-align: center;
    color:white;
    margin:5px;
}
.node:hover { 
   
    background-color: rgb(30, 158, 197);
    
}